nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}

.github-icon{
    width: 35px;
    fill: #000000fd;
    height: auto;
}

.signout {
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s;
    cursor: pointer;
}

.signout:hover {
    color: rgb(230, 112, 112);
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}