<section class="hero">
    <article class="hero-message">
        <h2 class="hero-title">
            Tu <span class="gradient-text">Instagram</span> es un reflejo único de tu personalidad.
        </h2>

        <p class="hero-subtitle">
            Introduce tu usuario y obtén un análisis de tu persona en base a tus posts!
        </p>


        <a routerLink="/GetAnalysis" class="btn">Obten tu analisis!</a>
    </article>

    <div class="scroller" data-direction="right" data-speed="fast">
        <h2 style="text-align: center; margin-bottom: 1rem;">Ejemplos:</h2>
        <div class="scroller__inner">
            @if (examples.length !== 0 ) {
                @for (item of examples; track $index) {
                    <app-card [analisys]="item"></app-card>
                }
            }
            @else{
                <div class="no-content">
                    <h3 style="text-align: center; opacity: 0.8;">Oh! Parece que no hay analisis aun.</h3>
                <a routerLink="/GetAnalysis">Crea el tuyo ahora!..</a>
                </div>
            }
        </div>
        
    </div>
</section>