<article class="card">
    <div class="header">
        <div class="profile-info">
            <div class="skeleton skeleton-text" style="width: 150px;"></div>
            <div class="skeleton skeleton-text" style="width: 80px;"></div>
        </div>
    </div>

    <div class="body">
        <div class="skeleton skeleton-text" style="width: 100%;"></div>
        <div class="skeleton skeleton-text" style="width: 90%;"></div>
        <div class="skeleton skeleton-text" style="width: 95%;"></div>
    </div>
</article>