<section class="analisys">
    <div class="action">
        <input id="username" class="userinput" type="text" placeholder="ingresa tu usuario..">
        <button id="btnreq" (click)="getAnalysis()" class="analyze-btn">Analizar</button>
    </div>

    @if (analisys) {
        <div class="res">
            <app-card [analisys]="analisys"></app-card>
        <button (click)="saveAnalysis()" class="btn">Guardar..</button>
        </div>
    }

    @if(error){
        <h2>woops algo salio mal</h2>
    }
</section>